body {
  font-family: 'Work Sans', sans-serif !important;
 }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.MetronomeControls {
  margin-top: 1rem;
  padding: .5rem 1rem 1.25rem 1rem;
  border-radius: .25rem;
  background: $metronome-bg;
  color: $metronome-color;
}

.MetronomePlayerControls {
  @extend .d-flex;
  @extend .align-items-end;

  .Bpm {
    font-size: 2rem;
  }
  .Play {
    @extend .ml-auto;
    margin-bottom: -2px;
    font-size: 2rem;
  }
  .fa {
    cursor: pointer;
  }
  small {
    @extend .ml-1;
    font-size: 1rem;
  }
}

.ChordCardList {
  @extend .d-flex;
  @extend .justify-content-between;
  align-items: center;
}

.ChordCard {
  @extend .d-flex;
  @extend .flex-column;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem .75rem 2rem .75rem;
  border-radius: .5rem;
  background: $card-bg;
  color: $card-color;
  
  .Name {
    // margin: 1rem;
    font-size: 1.7em;
    font-weight: 600;
  }
  .Progression {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

select, option {
  text-transform: capitalize;
  margin-left: .5rem;
  margin-right: .5rem;
}


// #f1eef6
// #d0d1e6
// #a6bddb
// #74a9cf
// #2b8cbe
// #045a8d