# {{ ansible_managed }}

server {
    listen 80;
    server_name www.{{ server_hostname }};
    return 301 http://{{ server_hostname }};
}

server {
    listen 80;

    server_name {{ server_hostname }};
    root /var/www/{{ server_hostname }};

    access_log /var/log/nginx/{{ server_hostname }}.access.log;
    error_log /var/log/nginx/{{ server_hostname }}.error.log;

    location / {
        try_files $uri /index.html;
    }
    
}
